In [1]:
import sqlite3 as sq

In [2]:
con = sq.connect('hr.db')
cur = con.cursor()

In [3]:
SQL = """SELECT first_name, last_name, manager_id
         FROM employees
         WHERE 
         manager_id = (SELECT employee_id
                            FROM employees
                            WHERE 
                            department_id = (SELECT department_id
                                            FROM departments
                                            WHERE 
                                            location_id = (SELECT location_id
                                                           FROM locations
                                                           WHERE
                                                           country_id = (SELECT country_id
                                                                         FROM countries
                                                                         WHERE
                                                                         country_name = 'United States'))))
"""

In [11]:
cur.execute(""" SELECT * FROM locations
          """)
cur.fetchall()

[(1400, '2014 Jabberwocky Rd', '26192', 'Southlake', 'Texas', 'US'),
 (1500,
  '2011 Interiors Blvd',
  '99236',
  'South San Francisco',
  'California',
  'US'),
 (1700, '2004 Charade Rd', '98199', 'Seattle', 'Washington', 'US'),
 (1800, '147 Spadina Ave', 'M5V 2L7', 'Toronto', 'Ontario', 'CA'),
 (2400, '8204 Arthur St', None, 'London', None, 'UK'),
 (2500,
  'Magdalen Centre, The Oxford Science Park',
  'OX9 9ZB',
  'Oxford',
  'Oxford',
  'UK'),
 (2700, 'Schwanthalerstr. 7031', '80925', 'Munich', 'Bavaria', 'DE')]