In [3]:
import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

In [26]:

"""
Write a function that takes dataframe df (defined above) as input and returns filtered dataframe with:
        - Only numeric columns
        - Only rows without any missing values

Notes:
        - Don’t select the columns and rows manually (use filtering)
"""

def filter_dataframe(df):
        type_list = [i for i in data if df[i].dtype == 'int64' or df[i].dtype == 'float64']
        df2 = df[type_list].dropna().reset_index(drop=True)
        return df2

In [27]:
filter_dataframe(df)

   age  visits
0  2.5       1
1  3.0       3
2  0.5       2
3  5.0       2
4  2.0       3
5  4.5       1
6  7.0       2
7  3.0       1

In [30]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Andres','James','David','Vin','Steve','David','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)

In [31]:
"""
Write a function that takes df (defined above) as input and returns tuple with 3 values:
   - Most common name (string)
   - Average age (float)
   - IQR of rating (float)

Notes:
   - Average age and IQR must be float not numpy.float64 type
"""

'\nWrite a function that takes df (defined above) as input and returns tuple with 3 values:\n   - Most common name (string)\n   - Average age (float)\n   - IQR of rating (float)\n\nNotes:\n   - Average age and IQR must be float not numpy.float64 type\n'

In [114]:
def compute_statistics(df):
    #Sort keys of Series into list based on value count
    newlist = list(df['Name'].value_counts().keys())
    
    #Assign first key to str variable
    str_name = newlist[0]
    
    #calculate mean of Age column
    avg_age = float(df['Age'].mean())
    
    #Calculate IQR
    Q3 = np.quantile(df['Rating'], 0.75)
    Q1 = np.quantile(df['Rating'], 0.25)
    IQR = float(Q3 - Q1)
    
    #Pack it all in a tuple
    tup = (str_name, avg_age, IQR)
    return tup

In [115]:
compute_statistics(df)

('David', 31.833333333333332, 0.9024999999999999)

In [ ]:
"""
 - Connect to the hr.db (stored in supporting-files directory) with sqlite3 
 - Write a query to find the names (first_name, last_name) of the employees who have a 
 manager who works for a department based in the United States. 
 

Expected columns:
    - first_name	
    - last_name	
    - manager_od

Notes:
    - Use tables employees, departments and locations
    - You shouldn’t use JOINs here. 
    - You can connect to DB from Jupyter Lab/Notebook, explore the table and try 
    different queries
    - In the variable 'SQL' store only the final query ready for validation 
"""